In [1]:
print('Hello World')

Hello World

In [3]:
print('Hello World')
print('Welcome to the world of Python')
print('Bye')

Hello World
Welcome to the world of Python
Bye

In [13]:
num1 = 50.6
num2 = 60
add = num1 + num2
print(add)
type(num1)

110.6

float

In [14]:
num1 = 32.78
type(num1)

float

In [19]:
name = 'Agnelo'
type(name)

My name is Agnelo

In [16]:
num1, num2, num3 = 56, 'twenty', 50.5
type(num1)

int

In [17]:
num1 = num2 = num3 = 35
print(num1, type(num1))

35 <class 'int'>

In [20]:
name = 'Agnelo'
marks = 73
print('My name is', name)

My name is Agnelo

In [21]:
name = 'Agnelo'
marks = 73
print('My name is', name, 'and my marks are', marks)

My name is Agnelo and my marks are 73

In [22]:
name = 'Agnelo'
marks = 73
print('My name is %s and my marks are %f' %(name,marks))

My name is Agnelo and my marks are 73.000000

In [23]:
print('My name is %s and my marks are %.1f' %(name,marks))

My name is Agnelo and my marks are 73.0

In [24]:
print('My name is %s and my marks are %.2f' %(name,marks))

My name is Agnelo and my marks are 73.00

In [25]:
print('My name is %s and my marks are %i' %(name,marks))

My name is Agnelo and my marks are 73

In [27]:
#Addition Program
num1 = 50
num2 = 60
add = num1 + num2 #Perform Addition
print('Addition of %i and %i is %i' %(num1,num2,add))

Addition of 50 and 60 is 110

In [28]:
num1 = 50; num2 = 60; add = num1 + num2; print('Addition of %i and %i is %i' %(num1,num2,add))

Addition of 50 and 60 is 110

In [ ]:
#### Operators

#### Operators

##### Arithmetic Operators

In [35]:
num1 = 29
num2 = 6
print('Addition is:', num1 + num2) # Addition
print('Subtraction is:', num1 - num2) # Subtraction
print('Multiplication is:', num1 * num2) # Multiplication
print('Division is:', num1 / num2) # Division
print('Floor Division is:', num1 // num2) # Floor Division
print('Modulo Division is:', num1 % num2) # Modulo Division
print('Raised to:', num1 ** num2) # Power of

Addition is: 35
Subtraction is: 23
Multiplication is: 174
Division is: 4.833333333333333
Floor Division is: 4
Modulo Division is: 5
Raised to: 594823321

##### Assignment Operator

In [41]:
num1 = 50
num1 += 50
print(num1)
num1 *= 50
print(num1)

100
5000

##### Relational Operators

In [43]:
num1 = 25
num2 = 30
print('Greater Than:', num1 > num2)
print('Greater Than / Equal:', num1 >= num2)
print('Less Than:', num1 < num2)
print('Less Than / Equal:', num1 <= num2)
print('Equal:', num1 == num2)
print('Equal:', num1 != num2)

Greater Than: False
Greater Than / Equal: False
Less Than: True
Less Than / Equal: True
Equal: False
Equal: True

##### Logical Operators

In [47]:
num1 = 25
num2 = 30
print('AND:', (num1 > num2) and (num1 < 100))

AND: False

In [49]:
print('OR:', (num1 < num2) and (num1 < 100))

OR: True

##### Membership Selection

In [50]:
name = 'Agnelo'
'e' in name

True

In [51]:
arr = [3,4,6,8,9]
2 in arr

False

In [52]:
3 in arr

True

In [53]:
10 not in arr

True

In [54]:
x = [2, 3, 'Pune', 10.4, 'Mumbai']
'Pune' in x

True

In [55]:
5 in x

False

##### User Input

In [56]:
num = input('Enter the number: ')
print('You have entered:', num)

Enter the number:  50

You have entered: 50

In [57]:
num = input('Enter the number: ')
result = num*3
print('You have entered:', result)

Enter the number:  5

You have entered: 555

##### Type Casting

In [60]:
num = int(input('Enter the number: '))
result = num*3
print('You have entered:', result)

Enter the number:  2

You have entered: 6

In [72]:
num = int(input('Enter the value in Celsius:'))
farenheit = (1.8 * num) + 32
print('The value in Farenheit is:', int(farenheit))

Enter the value in Celsius: -14

The value in Farenheit is: 6