In [1]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\rajesh\appdata\roaming\python\python312\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as sql
import pandas as pd
db_connection = sql.connect(host='localhost', database='mydb', user='root', password='')
db_cursor = db_connection.cursor()
db_cursor.execute('select * from student')
table_rows = db_cursor.fetchall()
df = pd.DataFrame(table_rows)

In [3]:
print(df)

     0        1      2  3
0    0    James  90.00  B
1    1     Greg  69.95  B
2    2     Ajay  78.40  A
3    3      Ben  99.50  A
4    4  Charles  59.50  B
5    6     John  59.50  B
6    7  Charles  79.50  A
7    8    Glenn  68.50  B
8    9    James  90.00  A
9   10   Joshua  75.50  A
10  15     amol  45.87  C

In [6]:
df.columns = ['roll', 'name', 'marks', 'class']

In [7]:
print(df)

    roll     name  marks class
0      0    James  90.00     B
1      1     Greg  69.95     B
2      2     Ajay  78.40     A
3      3      Ben  99.50     A
4      4  Charles  59.50     B
5      6     John  59.50     B
6      7  Charles  79.50     A
7      8    Glenn  68.50     B
8      9    James  90.00     A
9     10   Joshua  75.50     A
10    15     amol  45.87     C

In [8]:
df.name

0       James
1        Greg
2        Ajay
3         Ben
4     Charles
5        John
6     Charles
7       Glenn
8       James
9      Joshua
10       amol
Name: name, dtype: object

In [9]:
df.columns

Index(['roll', 'name', 'marks', 'class'], dtype='object')